<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>Ingresar Libro</title>
<link rel = "stylesheet"  type = "text/css"   href = "index.css" />


</head>
	<body>	
		<form th:action="@{/agregarLibro}" th:object="${libro}" method="post">
					
				  
		  		<div class="form-group">
		   			 <label for="formGroupExampleInput2">Titulo</label>
		   			 <input class="form-control" type="text" th:field="*{nombreTitulo}" id="formGroupExampleInput2" placeholder="Titulo">
		   			 <span th:errors="*{nombreTitulo}" style="color:red"></span>
		  		</div>
		  		<div class="form-group">
		   			 <label for="formGroupExampleInput2">Autor</label>
		   			 <input class="form-control" type="text" th:field="*{nombreAutor}" id="formGroupExampleInput2" placeholder="Nombre Autor">
		   			 <span th:errors="*{nombreAutor}" style="color:red"></span>
		  		</div>
		  		
		  		<div class="form-group">
		   			 <label for="formGroupExampleInput2">Categoria</label>
		   			 <select name= "codImp"class="form-control" th:field="*{codigoCategoria}" id="formGroupExampleInput2" > 
		   			 	
		   			 	<option th:each="cod:${categoria}"
		   			 		th:value="${cod.codigoCategoria}"
		   			 		th:text="${cod.nombreCategoria}"   			 	
		   			 	/>		   			 
		   			 </select>
		   			 <span th:errors="*{codigoCategoria}" style="color:red"></span><br>		   			 
		  		</div>	
		  		
		  		<div class="form-group">	
			  		<input type="radio" th:field="*{estadoLibro}" th:value="${false}">
					<span th:errors="*{estadoLibro}" style="color:#E81505"></span>
				</div>
				
		  		<div class="form-group">
		   			 <label for="formGroupExampleInput2">ISBN</label>
		   			 <input class="form-control" type="text" th:field="*{nombreIsbn}" id="formGroupExampleInput2" placeholder="ISBN del libro">
		   			 <span th:errors="*{nombreIsbn}" style="color:red"></span>
		   			 
		  		</div>
		  				  				  		
		  		  		
		  		
				<button type="submit" class="btn btn-primary">Agregar</button>
				<a href='/all' >Ver Listado</a>
				
		</form>
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
			
	
	</body>
</html>
